html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

.swiper-container {
  overflow: hidden;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 480px) {
  .swiper-container {
    min-height: 320px;
  }
}
.swiper-container-wrapper {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  width: 100vw;
}
@media (min-width: 480px) {
  .swiper-container-wrapper {
    flex-flow: row nowrap;
  }
}

.swiper-button-next, .swiper-button-prev {
  color: #000;
}

.swiper-slide {
  text-align: center;
  background-size: cover;
  background-position: center;
  background-color: #fff;
  /* Center slide text vertically */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  /* Slide content */
}
.swiper-slide .description,
.swiper-slide .title {
  display: block;
  opacity: 0;
  transition: 0.5s ease 0.5s;

}
.swiper-slide-active .description,
.swiper-slide-active .title {
  opacity: 1;
}
.swiper-slide-active .title {
  text-shadow: 2px 2px 5px darkblue;
  margin-bottom: 0.5rem;
  font-size: 35px;
  color: #000;
  transition: opacity 0.5s ease 0.5s;
}
.swiper-slide-active .description {
  font-size: 18px;
  color: rgb(0, 0, 0);
  transition: opacity 0.5s ease 0.75s;
}

.gallery-top {
  position: relative;
  width: 100%;
  height: 75vh;

}
@media (min-width: 480px) {
  .gallery-top {
    width: 80%;
    height: 100vh;
    margin-right: 10px;
  }
}

.gallery-thumbs {
  width: 100%;
  height: 25vh;
  padding-top: 10px;
}
@media (min-width: 480px) {
  .gallery-thumbs {
    width: 20%;
    height: 100vh;
    padding: 0;
  }
}
.gallery-thumbs .swiper-wrapper {
  text-shadow: 2px 2px 5px darkblue;

  flex-direction: row;
}
@media (min-width: 480px) {
  .gallery-thumbs .swiper-wrapper {
    flex-direction: column;
  }
}
.gallery-thumbs .swiper-slide {
  width: 25%;
  flex-flow: row nowrap;
  height: 100%;
  opacity: 0.75;
  cursor: pointer;
}
@media (min-width: 480px) {
  .gallery-thumbs .swiper-slide {
    text-shadow: 2px 2px 5px darkblue;
    flex-flow: column nowrap;
    width: 100%;
  }
}
.gallery-thumbs .swiper-slide-thumb-active {
  text-shadow: 2px 2px 5px darkblue;

  opacity: 1;
}